.app {
  background-image: url(./images/BG.png);
  color: white;
}

h1 {
  color: #FFFFFF;
  font-size: 40px;
}

.main {
  display: flex;
}

.container {
  margin: 0px 30px;
}

.container .profile-section::before {
  content: "8K";
  position: absolute;
  height: 100px;
  width: 100px;
  right: calc(100vw - 60px - 70% - -20px);
  top: 60px;
  border-radius: 50%;
  rotate: 340deg;

  background-image: url(/assets/images/prizeBadge.png);
  background-position: center;
  background-size: cover;

  color: #000000;
  font-weight: 500;

  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width:1300px) {
  .container .profile-section::before {
    left: calc(100vw - 60px - 370px - 20px);
    right: unset;
  }
}

.container .profile-section {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 70%;
  border-right: 1px solid white;
}

.container .profile-section .profile {
  display: flex;
  width: 60%;
  max-width: 60%;
  min-width: 430px;
  justify-content: space-around;
  align-items: center;

}

.container .profile-section .profile img {
  width: 150px;
  height: 150px;
  -webkit-clip-path: polygon(0 0, 100% 50%, 0 100%);
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  object-fit: cover;
}

.container .profile-section .profile .profile_details {
  line-height: 7px;
}

.container .profile-section .profile .profile_details .name {
  font-size: 20px;
}

.container .profile-section .profile .profile_details .gray {
  color: #5D5D5D;
  font-size: 10px;
}

.container .profile-section .profile .profile_details button {
  background: #FFFFFF;
  height: 40px;
  font-weight: 700;
  font-size: 17.692px;
  /* line-height: 35.6%; */
  letter-spacing: -0.07em;
  color: #000000;
  outline: none;
  border: none;
}

.container .profile-section .profile__program_details {
  margin-top: 40px;
}

.profile__program_details .box {
  background: #131313;
  padding: 20px;
  width: 70%;
  margin: 20px 0px;
}

.profile__program_details .box .links {
  display: flex;
  max-width: 250px;
  justify-content: space-between;
}

.profile__program_details .box .links a {
  color: #CCFF00;
  text-decoration: none;
  font-weight: 500;
}

.ticket_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0px;
}

.ticket_section img {
  width: 330px;
  margin: 70px 20px 10px 20px;
}

.ticket_section button {
  width: 330px;
  height: 50px;
  background: #FFFFFF;
  border-radius: 8px;
  color: #000000;
  font-weight: 500;
  font-size: 16px;
  border: none;
}


/* responcive web */

@media only screen and (max-width: 860px) {
  .container .profile-section .profile {
    flex-direction: column;
    width: 100%;
    text-align: center;
    max-width: unset;
    min-width: unset;
  }

  .main {
    flex-direction: column;
  }

  .container .profile-section {
    width: 100%;
    border: none;
  }

  .profile__program_details .box {
    width: unset;
  }

  .container .profile-section::before {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  .ticket_section img {
    width: 85vw;
  }

  .ticket_section button {
    width: 85vw;
  }
}